In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# Importing the necessary libraries
import time

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Loading the dataset
df = pd.read_csv("/content/gdrive/MyDrive/df_new.csv").copy()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2114172 entries, 0 to 2114171
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   idListaCobro        int64
 1   idCredito           int64
 2   consecutivoCobro    int64
 3   idBanco_x           int64
 4   montoExigible       float64
 5   montoCobrar         float64
 6   montoCobrado        float64
 7   fechaCobroBanco     object
 8   idRespuestaBanco    float64
 9   caso_exitoso        int64
 10  fechaCreacionLista  object
 11  idBanco_y           int64
 12  fechaEnvioCobro     object
 13  idEmisora           int64
 14  id_estrategia       int64
 15  banco               int64
 16  servicio            object
 17  tiempo_feedback     int64
 18  Hora_ inicio        object
 19  Hora_fin            object
dtypes: float64(4), int64(10), object(6)
memory usage: 322.6+ MB

In [ ]:
df

,idListaCobro,idCredito,consecutivoCobro,idBanco_x,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,caso_exitoso,fechaCreacionLista,idBanco_y,fechaEnvioCobro,idEmisora,id_estrategia,banco,servicio,tiempo_feedback,Hora_ inicio,Hora_fin
0,155938,738973,41396434,2,622.87,622.87,0.00,NaN,4.0,0,02/01/2025 6:11AM,2,02/01/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
1,155938,739017,41396435,2,1069.11,1069.11,0.00,NaN,4.0,0,02/01/2025 6:11AM,2,02/01/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
2,155939,739185,41396436,2,4340.83,4340.83,4340.83,02/01/2025,0.0,1,02/01/2025 6:11AM,2,02/01/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
3,155940,732324,41396437,2,2134.21,2134.21,0.00,NaN,4.0,0,02/01/2025 6:12AM,2,02/01/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
4,155940,737028,41396438,2,815.76,815.76,0.00,NaN,4.0,0,02/01/2025 6:12AM,2,02/01/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114167,162271,741795,44299050,2,980.32,980.32,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
2114168,162271,741795,44299051,2,1633.86,1633.86,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
2114169,162271,742470,44299052,2,810.44,810.44,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
2114170,162271,742470,44299053,2,1350.74,1350.74,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00
2114171,162271,742470,44299054,2,540.30,540.30,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,2,TRADICIONAL,1800,08:00:00,14:59:00

In [ ]:
iguales = (df['idBanco_y'] == df['banco']).all()
print("¿Todas las filas son iguales entre idBanco_x e idBanco_y?", iguales)

¿Todas las filas son iguales entre idBanco_x e idBanco_y? True

In [ ]:
df.drop(columns=['banco'], inplace=True)

quiero cambiar en mi columna servicio los strings por estos valores1	TRADICIONAL
2	INTERBANCA
3	PARCIAL
4	MATUTINO
5	EN LINEA
6	REINTENTO

In [ ]:
# Diccionario de mapeo
mapa_servicio = {
    "TRADICIONAL": 1,
    "INTERBANCA": 2,
    "PARCIAL": 3,
    "MATUTINO": 4,
    "EN LINEA": 5,
    "REINTENTO": 6
}

# Aplicar el mapeo
df['servicio'] = df['servicio'].map(mapa_servicio)

In [ ]:
df

,idListaCobro,idCredito,consecutivoCobro,idBanco_x,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,caso_exitoso,fechaCreacionLista,idBanco_y,fechaEnvioCobro,idEmisora,id_estrategia,servicio,tiempo_feedback,Hora_ inicio,Hora_fin
0,155938,738973,41396434,2,622.87,622.87,0.00,NaN,4.0,0,02/01/2025 6:11AM,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00
1,155938,739017,41396435,2,1069.11,1069.11,0.00,NaN,4.0,0,02/01/2025 6:11AM,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00
2,155939,739185,41396436,2,4340.83,4340.83,4340.83,02/01/2025,0.0,1,02/01/2025 6:11AM,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00
3,155940,732324,41396437,2,2134.21,2134.21,0.00,NaN,4.0,0,02/01/2025 6:12AM,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00
4,155940,737028,41396438,2,815.76,815.76,0.00,NaN,4.0,0,02/01/2025 6:12AM,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114167,162271,741795,44299050,2,980.32,980.32,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00
2114168,162271,741795,44299051,2,1633.86,1633.86,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00
2114169,162271,742470,44299052,2,810.44,810.44,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00
2114170,162271,742470,44299053,2,1350.74,1350.74,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00
2114171,162271,742470,44299054,2,540.30,540.30,0.00,NaN,4.0,0,22/05/2025 12:10PM,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00

In [ ]:
df2=pd.read_excel("Libro3.xlsx")
df2

    id_estrategia  CobroExito  CobroDevuelta
0               1        8.00           8.00
1               2        6.00           6.00
2               3        1.60           1.60
3               4        8.00           8.00
4               5        4.00           4.00
5               6        2.50           2.50
6               7        2.50           2.50
7               8        4.50           4.50
8               9        1.75           1.75
9              10        1.75           1.75
10             11        2.82           2.37
11             12        3.18           2.58
12             13        2.82           2.37
13             14        1.97           1.42

In [ ]:
# Hacemos el merge con df usando la columna 'idListaCobro'
df = df.merge(df2, on='id_estrategia', how='left')

In [ ]:
df

,idListaCobro,idCredito,consecutivoCobro,idBanco_x,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,caso_exitoso,...,idBanco_y,fechaEnvioCobro,idEmisora,id_estrategia,servicio,tiempo_feedback,Hora_ inicio,Hora_fin,CobroExito,CobroDevuelta
0,155938,738973,41396434,2,622.87,622.87,0.00,NaN,4.0,0,...,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
1,155938,739017,41396435,2,1069.11,1069.11,0.00,NaN,4.0,0,...,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
2,155939,739185,41396436,2,4340.83,4340.83,4340.83,02/01/2025,0.0,1,...,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
3,155940,732324,41396437,2,2134.21,2134.21,0.00,NaN,4.0,0,...,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
4,155940,737028,41396438,2,815.76,815.76,0.00,NaN,4.0,0,...,2,02/01/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114167,162271,741795,44299050,2,980.32,980.32,0.00,NaN,4.0,0,...,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
2114168,162271,741795,44299051,2,1633.86,1633.86,0.00,NaN,4.0,0,...,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
2114169,162271,742470,44299052,2,810.44,810.44,0.00,NaN,4.0,0,...,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
2114170,162271,742470,44299053,2,1350.74,1350.74,0.00,NaN,4.0,0,...,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75
2114171,162271,742470,44299054,2,540.30,540.30,0.00,NaN,4.0,0,...,2,22/05/2025,5,9,1,1800,08:00:00,14:59:00,1.75,1.75

In [ ]:
df6=pd.read_csv("Capital.csv")
df6

       idCredito     pagare   capital fechaAperturaCredito  Unnamed: 4
0          10456  120379.68  50000.00           26/05/2008         NaN
1          10439  122306.40  50800.00           03/06/2008         NaN
2          10297  132333.12  46000.00           09/06/2008         NaN
3          10327   77535.84  40000.00           13/06/2008         NaN
4          10073   96304.32  40000.00           30/06/2008         NaN
...          ...        ...       ...                  ...         ...
97223     570762    6896.82   6353.51           06/10/2020         NaN
97224     570763    5517.45   5083.50           06/10/2020         NaN
97225     570842    7143.15   6557.10           06/10/2020         NaN
97226     570867    7250.96   6798.79           06/10/2020         NaN
97227     572233   13983.80  13111.93           23/10/2020         NaN

[97228 rows x 5 columns]

In [ ]:
df6.isna().sum()

idCredito                   0
pagare                      0
capital                     0
fechaAperturaCredito        0
Unnamed: 4              97228
dtype: int64

In [ ]:
# Hacemos el merge con df usando la columna 'idListaCobro'
df = df.merge(df6, on='idCredito', how='left')

In [ ]:
df.drop(columns=['Unnamed: 4'], inplace=True)

In [ ]:
df.isna().sum()

idListaCobro                  0
idCredito                     0
consecutivoCobro              0
idBanco_x                     0
montoExigible                 0
montoCobrar                   0
montoCobrado                  0
fechaCobroBanco         2025884
idRespuestaBanco              0
caso_exitoso                  0
fechaCreacionLista            0
idBanco_y                     0
fechaEnvioCobro               0
idEmisora                     0
id_estrategia                 0
servicio                      0
tiempo_feedback               0
Hora_ inicio                  0
Hora_fin                      0
CobroExito                    0
CobroDevuelta                 0
pagare                       30
capital                      30
fechaAperturaCredito         30
dtype: int64

In [ ]:
df_pagare_na = df[df['pagare'].isna()]
print(df_pagare_na)

         idListaCobro  idCredito  consecutivoCobro  idBanco_x  montoExigible  \
123784         156485     723964          41574340         21       32268.46
123785         156485     723964          41574341         21       32268.46
123786         156485     723964          41574342         21       32268.46
373579         157137     723964          41884853         21       32268.46
373580         157137     723964          41884854         21       32268.46
373581         157137     723964          41884855         21       32268.46
670671         157791     723964          42257608         21       32268.46
670672         157791     723964          42257609         21       32268.46
670673         157791     723964          42257610         21       32268.46
963575         158593     723964          42676703         21       32268.46
963576         158593     723964          42676704         21       32268.46
963577         158593     723964          42676705         21       32268.46
1190007        159253     723964          42997147         21       32268.46
1190008        159253     723964          42997148         21       32268.46
1190009        159253     723964          42997149         21       32268.46
1452389        159945     723964          43342892         21       32268.46
1452390        159945     723964          43342893         21       32268.46
1452391        159945     723964          43342894         21       32268.46
1670251        160623     723964          43641975         21       32268.46
1670252        160623     723964          43641976         21       32268.46
1670253        160623     723964          43641977         21       32268.46
1848727        161248     723964          43894955         21       32268.46
1848728        161248     723964          43894956         21       32268.46
1848729        161248     723964          43894957         21       32268.46
1893201        161399     723964          43945918         21       32268.46
1893202        161399     723964          43945919         21       32268.46
1893203        161399     723964          43945920         21       32268.46
2034126        161924     723964          44168235         21       32268.46
2034127        161924     723964          44168236         21       32268.46
2034128        161924     723964          44168237         21       32268.46

         montoCobrar  montoCobrado fechaCobroBanco  idRespuestaBanco  \
123784      32268.46      32268.46      15/01/2025               0.0
123785      32268.46      32268.46      15/01/2025               0.0
123786      32268.46      32268.46      15/01/2025               0.0
373579      32268.46      32268.46      30/01/2025               0.0
373580      32268.46      32268.46      30/01/2025               0.0
373581      32268.46      32268.46      30/01/2025               0.0
670671      32268.46      32268.46      17/02/2025               0.0
670672      32268.46      32268.46      17/02/2025               0.0
670673      32268.46      32268.46      17/02/2025               0.0
963575      32268.46      32268.46      03/03/2025               0.0
963576      32268.46      32268.46      03/03/2025               0.0
963577      32268.46      32268.46      03/03/2025               0.0
1190007     32268.46      32268.46      18/03/2025               0.0
1190008     32268.46      32268.46      18/03/2025               0.0
1190009     32268.46      32268.46      18/03/2025               0.0
1452389     32268.46      32268.46      31/03/2025               0.0
1452390     32268.46      32268.46      31/03/2025               0.0
1452391     32268.46      32268.46      31/03/2025               0.0
1670251     32268.46      32268.46      15/04/2025               0.0
1670252     32268.46      32268.46      15/04/2025               0.0
1670253     32268.46      32268.46      15/04/2025               0.0
1848727     32268.46          0.00             NaN               4.0
1848728     32268.46          0.00             NaN               4.0
1848729     32268.46          0.00             NaN               4.0
1893201     32268.46      32268.46      02/05/2025               0.0
1893202     32268.46      32268.46      02/05/2025               0.0
1893203     32268.46      32268.46      02/05/2025               0.0
2034126     32268.46      32268.46      15/05/2025               0.0
2034127     32268.46      32268.46      15/05/2025               0.0
2034128     32268.46      32268.46      15/05/2025               0.0

         caso_exitoso  ... id_estrategia  servicio tiempo_feedback  \
123784              1  ...             2         2           86400
123785              1  ...             2         2           86400
123786              1  ...             2         2           86400
373579              1  ...             2         2           86400
373580              1  ...             2         2           86400
373581              1  ...             2         2           86400
670671              1  ...             2         2           86400
670672              1  ...             2         2           86400
670673              1  ...             2         2           86400
963575              1  ...             2         2           86400
963576              1  ...             2         2           86400
963577              1  ...             2         2           86400
1190007             1  ...             2         2           86400
1190008             1  ...             2         2           86400
1190009             1  ...             2         2           86400
1452389             1  ...             2         2           86400
1452390             1  ...             2         2           86400
1452391             1  ...             2         2           86400
1670251             1  ...             2         2           86400
1670252             1  ...             2         2           86400
1670253             1  ...             2         2           86400
1848727             0  ...             2         2           86400
1848728             0  ...             2         2           86400
1848729             0  ...             2         2           86400
1893201             1  ...             1         1          518400
1893202             1  ...             1         1          518400
1893203             1  ...             1         1          518400
2034126             1  ...             2         2           86400
2034127             1  ...             2         2           86400
2034128             1  ...             2         2           86400

         Hora_ inicio  Hora_fin  CobroExito  CobroDevuelta pagare capital  \
123784       08:00:00  15:30:00         6.0            6.0    NaN     NaN
123785       08:00:00  15:30:00         6.0            6.0    NaN     NaN
123786       08:00:00  15:30:00         6.0            6.0    NaN     NaN
373579       08:00:00  15:30:00         6.0            6.0    NaN     NaN
373580       08:00:00  15:30:00         6.0            6.0    NaN     NaN
373581       08:00:00  15:30:00         6.0            6.0    NaN     NaN
670671       08:00:00  15:30:00         6.0            6.0    NaN     NaN
670672       08:00:00  15:30:00         6.0            6.0    NaN     NaN
670673       08:00:00  15:30:00         6.0            6.0    NaN     NaN
963575       08:00:00  15:30:00         6.0            6.0    NaN     NaN
963576       08:00:00  15:30:00         6.0            6.0    NaN     NaN
963577       08:00:00  15:30:00         6.0            6.0    NaN     NaN
1190007      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1190008      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1190009      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1452389      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1452390      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1452391      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1670251      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1670252      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1670253      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1848727      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1848728      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1848729      08:00:00  15:30:00         6.0            6.0    NaN     NaN
1893201      08:00:00  15:30:00         8.0            8.0    NaN     NaN
1893202      08:00:00  15:30:00         8.0            8.0    NaN     NaN
1893203      08:00:00  15:30:00         8.0            8.0    NaN     NaN
2034126      08:00:00  15:30:00         6.0            6.0    NaN     NaN
2034127      08:00:00  15:30:00         6.0            6.0    NaN     NaN
2034128      08:00:00  15:30:00         6.0            6.0    NaN     NaN

         fechaAperturaCredito
123784                    NaN
123785                    NaN
123786                    NaN
373579                    NaN
373580                    NaN
373581                    NaN
670671                    NaN
670672                    NaN
670673                    NaN
963575                    NaN
963576                    NaN
963577                    NaN
1190007                   NaN
1190008                   NaN
1190009                   NaN
1452389                   NaN
1452390                   NaN
1452391                   NaN
1670251                   NaN
1670252                   NaN
1670253                   NaN
1848727                   NaN
1848728                   NaN
1848729                   NaN
1893201                   NaN
1893202                   NaN
1893203                   NaN
2034126                   NaN
2034127                   NaN
2034128                   NaN

[30 rows x 24 columns]

In [ ]:
df = df[~df['pagare'].isna()]

In [ ]:
df.isna().sum()

idListaCobro                  0
idCredito                     0
consecutivoCobro              0
idBanco_x                     0
montoExigible                 0
montoCobrar                   0
montoCobrado                  0
fechaCobroBanco         2025881
idRespuestaBanco              0
caso_exitoso                  0
fechaCreacionLista            0
idBanco_y                     0
fechaEnvioCobro               0
idEmisora                     0
id_estrategia                 0
servicio                      0
tiempo_feedback               0
Hora_ inicio                  0
Hora_fin                      0
CobroExito                    0
CobroDevuelta                 0
pagare                        0
capital                       0
fechaAperturaCredito          0
dtype: int64

In [ ]:
df.to_csv("df_n2.csv", index=False, encoding='utf-8-sig')